body{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

.reserve_color {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

tr.alerte td{
    background-color:rgb(223, 139, 83);
    color:rgb(191, 221, 22);
    font-weight: bold;
}
#sectionNav{
    display: flex;
    flex-direction: column;
    height: 16%;
}

#formChercher{
    width: 100%;
}

#btnChercher{
    width: 15%;
}

#btnFixer{
    width: 15%;
}

#navPopUp{
    display: flex;
}

#sectionNavForm{
    display: flex;
    justify-content: space-between;
}

#btnPanier{
    height: 144%;
    margin-left: 10%
}
#btnCommander{
    height: 100%;
}
#btnDeconnection{
    height: 144%;
}

#nameSession{
    display: flex;
    justify-self: center;
    height: 15%;
}


